<!--
  filename:   /home/al/projects/AddressBook_v2/templates/login.html
-->
{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block content %}
    <h2>Login</h2>
    <form method="post">
        <p><label for="username">Username:</label><br><input type="text" name="username" id="username" required></p>
        <p><label for="password">Password:</label><br><input type="password" name="password" id="password" required></p>
        <p><button type="submit">Login</button></p>
    </form>
    <p>New user? <a href="{{ url_for('register') }}">Register here</a>.</p>
{% endblock %}
